@font-face {
    font-family: 'OpenDyslexic';
    src: url('opendyslexicmono-regular-webfont.woff2') format('woff2'),
         url('opendyslexicmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic';
    font-size: 5em;
    color: white;
    text-shadow: 3px 3px 15px black;
    text-align: center;
}
